/* WebKit browsers (Chrome, Edge, Safari) */
* {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #888 #f0f0f0; /* For Firefox */
  }
  
  *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid #f0f0f0;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

  .swiper {
  width: 100%;
}

.mySwiperDesk {
  display: block !important;
}

.mySwiperMob{
  display: none !important;
}


@media screen and (max-width: 600px){
  .mySwiperDesk {
    display: none !important;
  }

  .mySwiperMob{
    display: block !important;

    & .swiper-slide{
        display: flex;
        justify-content: center;

        &>div{
          width: 80%;
        }
    }
  }

}
